# Build artifacts
.build/
DerivedData/

ExampleInputs/
__pycache__/ 

# Swift Package Manager
.swiftpm/
Package.resolved

# Xcode
*.xcodeproj
*.xcworkspace
xcuserdata/

# macOS
.DS_Store

# Editor files
*.swp
*~

# Software development
.vscode/

# simglucose
simglucoseResults/
MealScenarios/

# Miscellaneous 
otherOrefAlgs/

# datafiles
iobBugInvoke
autosensBugInvoke
*.zip
added_glucose/

# Trio Oref CLI state
state/